.generalChat
{
    width: 50%;
    height: calc(100% - 15rem);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.messageArea
{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageInputField
{
    width: calc(100% - 3rem);
    height: 4rem;
    background-color: #373737;
    border: none;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    resize: none;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5rem;
    overflow: auto; 
    white-space: pre-wrap;
    font-size: 18px;
}

#messageInputField::-webkit-scrollbar
{
    width: 0.3rem;
    background: transparent;
}

#messageInputField::-webkit-scrollbar-thumb
{
    width: 100%;
    background: #202020;
    border-radius: 0.15rem;
}

.sendButton
{
    height: 3rem;
    width: 3rem;
    padding-block: 2.5rem;
    background: #373737;
    border: none;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.sendButton:hover
{
    cursor: pointer;
    background-color: #292929;
}

.chatField
{
    width: 100%;
    height: calc(100% - 5rem);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.messages
{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    margin-bottom: 0.5rem;
    font-size: 15px;
    max-width: 60%;
    position: relative;
}

.message
{
    display: flex;
    align-items: center; 
    gap: 0.75rem;
    word-break: break-word;
    white-space: pre-wrap;
    width: 100%;
}

.message-content
{
    flex: 1;
}

.message-right {
    text-align: right;
    background-color: #313131; /* Light green background for own messages */
    margin-left: auto;
    border-radius: 0.3rem;
    border-bottom-right-radius: 0;
}

.message-left {
    text-align: left;
    background-color: #8e8e8e; /* White background for others' messages */
    margin-right: auto;
    border-radius: 0.3rem;
    border-bottom-left-radius: 0;
}

.deleteButton
{
    width: 1.5rem;
    height: 1.5rem;
    background: transparent;
    border: none;
    font-size: 20px;
}

.deleteButton:hover
{
    cursor: pointer;
}

.chatpfp
{
    width: 2rem;
    border-radius: 1rem;
    position: absolute;
    display: flex;
}

.pfp-right
{
    right: -2.5rem;
    bottom: 0;
}

.pfp-left
{
    left: -2.5rem;
    bottom: 0;
}
