.generalChat
{
    width: 100%;
    height: calc(100% - 10rem);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.messageArea
{
    width: 50%;
    padding-inline: 25%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageInputField
{
    width: calc(100% - 3rem);
    height: 4rem;
    background-color: #373737;
    border: none;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    resize: none;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5rem;
    overflow: auto; 
    white-space: pre-wrap;
    font-size: 18px;
}

#messageInputField::-webkit-scrollbar
{
    width: 0.3rem;
    background: transparent;
}

#messageInputField::-webkit-scrollbar-thumb
{
    width: 100%;
    background: #202020;
    border-radius: 0.15rem;
}

.sendButton
{
    height: 3rem;
    width: 3rem;
    padding-block: 2.5rem;
    background: #28a745;
    border: none;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.sendButton:hover
{
    cursor: pointer;
    background-color: #292929;
}

.chatField
{
    width: 50%;
    height: calc(100% - 5rem);
    padding-inline: 25%;
    display: flex;
    flex-direction: column;
    align-items: end;
    overflow-x: visible;
    overflow-y: scroll;
}

.chatField::-webkit-scrollbar
{
    width: 0.75rem;
    background: #252525;
}

.chatField::-webkit-scrollbar-thumb
{
    width: 100%;
    border-radius: 0.4rem;
    background-color: #303030;
}

.chatField::-webkit-scrollbar-button
{
    height: 0.5rem;
    background-color: #272727;
}

.messages
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.15rem;
    margin-bottom: 1rem;
    font-size: 15px;
    max-width: 60%;
    position: relative;
}

.message
{
    display: flex;
    align-items: end;
    gap: 0.3rem;
    word-break: break-word;
    white-space: pre-wrap;
    width: calc(100% - 1.4rem);
    padding: 0.7rem;
    text-align: start;
    border-radius: 0.3rem;
}

.message-content
{
    flex: 1;
}

.message-right {
    margin-left: auto;
    border-radius: 0.3rem;
}

.message-right .message
{
    background-color: #323232;
}

.message-left {
    margin-right: auto;
    border-radius: 0.3rem;
}

.message-left .message
{
    background-color: #28a745; 
}

.deleteButton
{
    width: 1.5rem;
    height: 1.5rem;
    background: transparent;
    border: none;
    font-size: 20px;
}

.deleteButton:hover
{
    cursor: pointer;
}

.more-options
{
    width: 1.5rem;
    height: 1.5rem;
    background: transparent;
    border: none;
    border-radius: 0.75rem;
    font-size: 20px;
}

.more-options:hover
{
    cursor: pointer;
    background-color: #292929;
}

.delete-popup
{
    width: 10rem;
    position: absolute;
    right: -15rem;
    background: #28a745;
    padding: 1rem;    
}

.popupVisible
{
    display: flex;
}

.popupInvisible
{
    display: none;
}

.chatpfp
{
    width: 2rem;
    border-radius: 1rem;
    position: absolute;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.pfp-right
{
    right: -2.5rem;
    bottom: 0;
}

.pfp-left
{
    left: -2.5rem;
    bottom: 0;
}

@media screen and (max-width: 500px) {
    .messageArea
    {
        width: 90%;
        padding-inline: 5%;
    }

    .chatField
    {
        width: 90%;
        padding-inline: 5%;
    }

    .messages
    {
        max-width: 80%;
    }

    .message-left
    {
        margin-left: 2.5rem;
    }

    .message-right
    {
        margin-right: 2.5rem;
    }
}
